<!-- specific user favorite show page -->
<header>
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <a class="navbar-brand">SoundGem</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li> <%= link_to (image_tag(current_user.avatar_url, class: "avatar, icon")), user_path(current_user) %> </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <%= current_user.soundcloud_username %> <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
          <li class="divider"></li>
          <li> <%= link_to "Logout", soundcloud_disconnect_path, :class => "disconnect" %> </li>
        </ul>
      </li>
    </ul>
  </nav>
</header>

<div class="row">

  <div class="col-md-4">
    <div class="info">
      <%= image_tag(@user.avatar_url, class: "userAvatar") %>
      <h3> <%= @user.soundcloud_username %> </h3>
      <% if @sc_user.country.blank? || @sc_user.city.blank? %>
      <h4> <%= @sc_user.city %> <%= @sc_user.country %> </h4>
      <% else %>
      <h4> <%= @sc_user.city %>, <%= @sc_user.country %> </h4>
      <% end %>
      <h4> <%= @sc_user.followers_count %> Followers </h4>
      <p> <%= @sc_user.description %> </p>

    </div>

    <header>
      <h3> Checkout Your other Friend's Gems </h3>
    </header>
    <div class="friends">
      <% current_user.friends.each do |friend| %>
      <% unless friend.id == @user.id %>
      <%= link_to (image_tag(friend.avatar_url, class: "avatar")), user_path(friend) %> <% friend.soundcloud_username %>
      <% end %>
      <% end %>
    </div>
  </div>

  <div class="col-md-8">
    <header>
      <h3> <%= @user.soundcloud_username %>'s Favorite Tracks</h3>
    </header>
    <div class="favorites">
      <% @user.tracks.shuffle[0..9].each do |track| %>
      <b>
        <% track.users.each do |user| %>
        <% if current_user.friends.include?(user) && user.id != @user.id %>
        <span class="glyphicon glyphicon-heart"><%= link_to user.soundcloud_username, user_path(user) %></span>
        <% end %>
        <% end %>
      </b>
      <iframe id="soundcloud_widget"
      src="http://w.soundcloud.com/player/?url=https://api.soundcloud.com/tracks/<%=track.soundcloud_track_id%>&color=8C304A&show_artwork=true&liking=true&sharing=true&auto_play=false"
      width="900"
      height="125"
      frameborder="no"></iframe>
      <% end %>
    </div>
  </div>
</div>
