<!-- specific user favorite show page -->
<div class="row">

  <div class="col-md-3 sidebar">
    <div class="profile">
      <%= image_tag(@user.avatar_url, class: "userAvatar") %>
    </div>
    <div class="info">
      <h3> <%= @user.soundcloud_username %> </h3>
      <% if @sc_user.country.blank? || @sc_user.city.blank? %>
      <h4> <%= @sc_user.city %> <%= @sc_user.country %> </h4>
      <% else %>
      <h4> <%= @sc_user.city %>, <%= @sc_user.country %> </h4>
      <% end %>
      <h4> <%= @sc_user.followers_count %> Followers </h4>
    </div>

  </div>

<% if @user.posts.count != 0 %>
  <div class="col-md-9">
    <header>
      <h3> <%= @user.soundcloud_username %>'s Sounds</h3>
    </header>
    <div class="favorites">
      <% @user.posts.take(20).each do |track| %>
      <section class="stream">
        <%= render partial: "shared/track", object: track %>
      </section>
        <% end %>
    </div>
  </div>

  <% else %>
  <div class="col-md-9">
    <header>
      <h3> <%= @user.soundcloud_username %>'s Favorite Sounds</h3>
    </header>
    <div class="favorites">
      <% @user.tracks.sample(20).each do |track| %>
      <section class="stream">
        <%= render partial: "shared/track", object: track %>
      </section>
        <% end %>
    </div>
  </div>

  <% end %>

</div>
