<nav class="navbar navbar-default">
  <div class="navbar-header">
    <a class="navbar-brand">SoundGems</a>
  </div>
  <ul class="nav navbar-nav navbar-right">
    <li> <%= image_tag(@me.avatar_url, :class => "avatar") %> </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <%= @me.username %> <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li class="divider"></li>
        <li> <%= link_to "Logout", soundcloud_disconnect_path, :class => "disconnect" %> </li>
      </ul>
    </li>
  </ul>
</nav>


<div class="row">
  <div class="col-md-1"></div>
  <div class="friends col-md-8">
    <% @friends.each do |x| %>
      <% current_user.soundcloud_client.get("/users/#{x.id}/favorites", :limit => 1).each do |track| %>
      <iframe id="soundcloud_widget"
    src="http://w.soundcloud.com/player/?url=https://api.soundcloud.com/tracks/<%=track.id%>&show_artwork=true&liking=true&sharing=true&auto_play=false"
    width="900"
    height="150"
    frameborder="no"></iframe>
    <% end %>
    <% end %>
  </div>
  <div class="col-md-3">
      <div class="header">
        <p> <%= @friends.count %> Friends </p>
      </div>
      <ul>
        <% @friends.each do |friend| %>
        <li> <%= image_tag friend.avatar_url %> <%= friend.username %> </li>
        <% end %>
      </ul>
  </div>
</div>
