<nav class="navbar navbar-default">
  <div class="navbar-header">
    <a class="navbar-brand">SoundGems</a>
  </div>
  <ul class="nav navbar-nav navbar-right">
    <li> <%= image_tag(@me.avatar_url, :class => "avatar") %> </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"> <%= @me.username %> <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li class="divider"></li>
        <li> <%= link_to "Logout", soundcloud_disconnect_path, :class => "disconnect" %> </li>
      </ul>
    </li>
  </ul>
</nav>

<div class="row">
  <div class="col-md-4">
      <div class="page-header">
        <div class="pull-right">
          <%= current_user.friends.count %>
        </div>
          <h3>Your Friends</h3></div>
      <div class="friends">
        <% current_user.friends.take(16).each do |friend| %>
        <%= image_tag(@friend.get("/users/#{friend.soundcloud_user_id}").avatar_url, :class => "avatar") %> <% friend.soundcloud_username %>
        <% end %>
      </div>
  </div>
  <div class="friends col-md-8">
    <% @stream.take(10).each do |track| %>
    <div class="pull-right">
      <% track.users.each do |user| %>
      <% if current_user.friends.include?(user) %>
      <%= user.soundcloud_username %>
      <% end %>
      <% end %>
    </div>
      <iframe id="soundcloud_widget"
    src="http://w.soundcloud.com/player/?url=https://api.soundcloud.com/tracks/<%=track.soundcloud_track_id%>&show_artwork=true&liking=true&sharing=true&auto_play=false"
    width="900"
    height="150"
    frameborder="no"></iframe>
    <% end %>
  </div>
</div>
