<!DOCTYPE html>
<html>
<head>
  <title>SoundGem</title>
  <% if controller_name == "welcome" %>
  <%= stylesheet_link_tag    'vegas', media: 'all', 'data-turbolinks-track' => true %>
  <% else %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <% end %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="http://w.soundcloud.com/player/api.js"></script>
</head>
<body>
  <% unless controller_name =="welcome" %>
    <nav class="navbar navbar-default">
      <a class="navbar-brand" href="/">SoundGem</a>
      <ul class="nav navbar-nav navbar-right">
        <% if current_user %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><%= current_user.soundcloud_username %><span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li id="popular"> <%= link_to "Popular Gems", popular_path %> </li>
            <li id="recent"> <%= link_to "Random Gems", random_path %> </li>
            <li id="random"> <%= link_to "Recent Gems", recent_path %> </li>
            <li class="divider"></li>
            <li> <%= link_to "Logout", soundcloud_disconnect_path, :class => "disconnect" %> </li>
          </ul>
        </li>
        <li><%= link_to (image_tag(current_user.avatar_url, class: "icon")), user_path(current_user) %></li>
        <% end %>
      </ul>
    </nav>
  <% end %>
  <%= yield %>
  <script>
  $(document).ready(function() {
    var widget = SC.Widget(document.getElementById('soundcloud_widget'));
    widget.bind(SC.Widget.Events.READY, function() {
      console.log('Ready...');
    });
    $('button').click(function() {
      widget.toggle();
    });
  });
  </script>

  <script type='text/javascript'>

var next_widget ;
var iframes =[];
var its_the_last = false;

(function() {
iframes = document.querySelectorAll('iframe');
//iframe.src = 'http://w.soundcloud.com/player/?url=http://api.soundcloud.com/tracks/43315398&auto_play=true';
for (var i = 0; i < iframes.length; i++) {
    //var widget_+i = SC.Widget(iframes[i]);
    window['widget_'+i] = SC.Widget(iframes[i]);
    var widget = SC.Widget(iframes[i]);



    widget.bind(SC.Widget.Events.PLAY, function(eventData) {
      //var j = this.name;
     // next_widget = window['widget_'+i];
     var widget_i = this;
     for (var i = 0; i < iframes.length; i++) {
       if(SC.Widget(iframes[i]) === widget_i){
        if (i+1 >= iframes.length) {
          its_the_last = true;
        }else{
          next_widget = SC.Widget(iframes[i+1]);
        }


       }else{

        console.log('error');
       }
     };
    });

    widget.bind(SC.Widget.Events.FINISH, function(eventData) {
      if (its_the_last == false) {
        next_widget.play();
      }

    });


};

}());
</script>


</body>
</html>
